body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.nav-home-button {
  font-size: 2vw;
  padding: 2vh 3vw;

  border-radius: 1vw;
}

.nav-account-button {
  display: flex;
  justify-content: center;
  padding: 0.2vw;
}

.nav-account-button > svg {
  width: 5vw;
  height: auto;
}

.navbar {
  align-items: center;
  background-color: gray;
  border-radius: 1vw;
  display: flex;
  justify-content: space-between;
  padding: 5vh;
}

main {
  margin: 5vh auto 0 auto;
  background-color: gray;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 2vw;
}
main button {
  margin: 0;
}
main p {
  font-weight: 500;
  font-size: 4.5vh;
  margin: 0.3vh;
}

.create-account-button,
.forgert-password-button {
  background-color: #00000000;
  border: 0;
  color: rgb(2, 116, 116);
  font-size: 4vh;
}
.forgert-password-button {
  padding: 0 0 4vh 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form * {
  margin: 0.3vh 0;
}

form input {
  width: 10vw;
  height: 5vh;
}

.submit-button {
  margin: 4vh 0;
  background-color: blue;
  color: white;
  border: none;
  width: 7vw;

  text-align: center;
  padding: 3px 3px;
}
